* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    color: #555;
    font-family: serif;
}

input {
    border: 1px #ddd solid;
    font-family: serif;
}

ul {
    display: block;
    list-style: none;
}

/* general classes */

.clear {
    clear: both;
}

.btn {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    color: #fff;
}

.btn-primary {
    background-color: #008CBA;
}

.btn-success {
    background-color: #51c101;
}

.btn-inactive {
    background: #eee;
    color: #bbb;
    cursor: not-allowed;
}

.section {
    width: 100%;
    padding: 50px 0;
    color: #777;
}

    .section-container {
        width:800px;
        margin: auto;
    }

        .section-title {
            font-size: 25px;
            margin-bottom: 5px;
        }

        .section-description {
            text-align: justify;
            margin-bottom: 20px;
            font-size: 17px;
            font-style: italic;
            line-height: 20px;
        }

        .section-content {
            position: relative;
        }

.loading-layer-container {
    border: 1px #eee solid;
    padding: 50px;
}

    .loading-layer-icon {
        width: 48px;
        height: 48px;
        background: #fff url("../images/loading_.gif") no-repeat center center;
        margin:auto;
    }

    .loading-layer-message {
        margin: 10px auto 50px auto;
        text-align: center;
        font-style: italic;
        font-size: 25px;
        color: #aaa;
    }

    .loading-layer-content {
        margin: 40px auto 0 auto;
        border: 1px #eee solid;
        padding: 20px;
    }

    .close-loading-layer {
        width: 60px;
        margin: auto;
        text-align: center;
        display: none;
        position: relative;
    }

    /* loading messages */

    .loading-layer-container.success .loading-layer-message,
    .loading-layer-container.error .loading-layer-message {
        font-style: normal;
    }

        /* success message */

        .loading-layer-container.success .loading-layer-icon {
            background-image: url("../images/success.png");
        }

        .loading-layer-container.success .loading-layer-message {
            color: #51c101;
            font-style: normal;
        }

        /* error message */

        .loading-layer-container.error .loading-layer-icon {
            background-image: url("../images/error.png");
        }

        .loading-layer-container.error .loading-layer-message {
            color: #e60014;
        }

/* layout components */

#header {
    width: 100%;
    text-align: center;
    padding: 20px 40px;
    background: #006fd1;
    color: #fff;
    border-top: 5px #006687 solid;
    font-size: 18px;
}

    h1 {
        font-weight: normal;
    }

#footer {
    width: 800px;
    text-align: center;
    padding: 20px;
    border-top: 1px #ccc dotted;
    margin: auto;
    color: #aaa;
    height: 65px;
    font-style: italic;
}

    #footer #site-date {
        float: left;
    }

    #footer #powered-by {
        float: right;
    }

/* [ page=home ] */

#accordion-menu > li {
    position: relative;
    border: 1px #eee solid;
    margin-bottom: 20px;
}

    .accordion-menu-title {
        text-decoration: none;
        color: #fff;
        background-color: #555;
        padding: 10px 20px;
        display: block;
        margin: -1px;
    }

    .accordion-menu-content {
        padding: 20px;
    }

        .choice-options {
            text-align: center;
        }

            .choice-options li {
                display: inline-block;
                padding-top: 5px;
                margin: 0 5px;
                text-transform: lowercase;
            }

                .choice-options a {
                    float:left;
                }

                .option-description {
                    text-decoration: none;
                    border: 1px #ddd solid;
                    padding: 7px 15px;
                    color: #777;
                    font-style: normal;
                }

                .option-description:hover {
                    background-color: #f6f6f6;
                }

                #plugin-list .option-description {
                    border-right: none;
                }

                .plugin-info {
                    width: 32px;
                    height: 36px;
                    font-size: 22px;
                    font-style: italic;
                    font-weight: bold;
                    line-height: 16px;
                    color: transparent;
                    text-decoration: none;
                    background: #555 url("../images/link.png") no-repeat center center;
                }

                .plugin-info:hover {
                    background-color: #444;
                }

                .choice-options .selected:hover,
                .choice-options .selected {
                    border-color: #006fd1;
                    background: #006fd1;
                    color: #fff;
                }

#plugin-list {
    width: 100%;
    text-align: center;
    font-style: italic;
}

#btn-build-project {
    margin: 40px auto 0 auto;
    width: 100px;
}

/* [ page=home ] new plugin */

#new-plugin {
    background-color: #f6f6f6;
    margin-bottom: 20px;
    border: 1px #e5e5e5 solid;
    text-align: center;
    position: relative;
}

    #new-plugin h4 {
        padding: 10px 20px;
        color: #888;
        font-size: 20px;
        text-align: left;
        margin: -1px;
        font-style: italic;
    }

    #new-plugin form {
        padding: 0 20px 20px 20px;
        position: relative;
    }

    #new-plugin label {
        font-size: 16px;
        width: 100%;
        text-align: left;
        display: inline-block;
        margin-bottom: 10px;
    }

    #new-plugin-url {
        font-size: 15px;
        padding: 10px 50px 10px 10px;
        width: 100%;
        outline: none;
        color: #888;
    }

        #new-plugin-url::-webkit-input-placeholder {
            font-style: italic;
            font-size: 17px;
            line-height: 15px;
        }

        #new-plugin-url::-moz-placeholder {
            font-style: italic;
            font-size: 16px;
            line-height: 15px;
        }

        #new-plugin-url:-ms-input-placeholder {
            font-style: italic;
            font-size: 17px;
            line-height: 15px;
        }

    #new-plugin-submit-container {
        position: relative;
    }

        #new-plugin-submit {
            color: transparent;
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            border: 1px #51c101 solid;
            border-left: none;
            background: #51c101 url("../images/success-mini-active.png") no-repeat center center;
            cursor: pointer;
        }

            #new-plugin-submit:hover {
                opacity: 0.8;
            }

            #new-plugin-submit.inactive {
                cursor: default;
                background: #e5e5e5 url("../images/success-mini-inactive.png") no-repeat center center;
                border-color: #ddd;
                opacity: 1;
            }

#adding-plugin {
    border: none;
}

/* [ page=home ] loading build */

.generating-build #accordion-menu,
.generating-build #btn-build-project,
.adding-plugin #btn-build-project {
    display: none;
}

#loading-build {
    text-align: center;
}

    #downloading-selected-plugins li {
        background: #fff url("../images/pending-24.png") no-repeat center right;
        line-height: 28px;
        text-align: left;
        font-size: 18px;
        font-style: italic;
    }

        #loading-build .description {
            margin-bottom: 20px;
            background: #555;
            color: #fff;
            text-align: left;
            padding: 10px 20px;
            margin: -20px -20px 20px -20px;
            font-size: 18px;
        }

        #loading-build .download-in-progress {
            background-image: url("../images/loading-24.gif");
            font-weight: bold !important;
            color: #008CBA;
        }

        #loading-build .download-pending {
            background-image: url("../images/pending-24-.png");
        }

        #loading-build .download-finished {
            background-image: url("../images/ok-24_.png");
            font-weight: normal !important;
        }

        #loading-build .download-error {
            background-image: url("../images/error-24_.png");
        }

#download-build-link {
    width: 128px;
    height: 128px;
    margin: -25px auto 0 auto;
    display: none;
    background: transparent url("../images/cloud2.png") no-repeat center center;
}

#download-build-link:hover {
    opacity: 0.8;
}

/* firefox hack */
@-moz-document url-prefix() { 
    .section-description {
        font-size: 14px;
        line-height: 20px;
    }

    #new-plugin label {
        font-size: 13px;
    }

    #btn-build-project {
        width: 120px;
    }

    .plugin-info {
        height: 35px;
    }
}

/* MEDIA QUERIES */

/* Landscape phones and down */
@media (max-width: 480px) {
    
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .section-container {
        width: 100%;
        padding: 0 40px 40px 40px;
    }

    #footer {
        width: 100%;
        padding: 20px;
        height: auto;
    }

        #footer span {
            float: none !important;
            width: 100%;
            display: block;
            padding: 5px 0;
        }

    .choice-options li {
        padding: 0  0 15px 0;
        margin: 0;
        width: 100%;
    }

        .choice-options li:last-child {
            padding-bottom: 0;
        }

        .choice-options .option-description {
            width: calc(100% - 32px);
        }

        .single-option .option-description {
            width: 100%;
        }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .section-container {
        width: 100%;
        padding: 0 40px 40px 40px;
    }
}

/* Large desktop */
@media (min-width: 1200px) {

}